html {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    position: relative;

    background-color: #0E0E0E;
    background-image: url("../img/bg.jpg");
    background-repeat: repeat;
    background-size: 300px 300px;

    color: #ffffff;
    font-family: "BebasNeueRegular";
    font-weight: bold;
    font-size: 20px;

    &.disable {
        scroll-behavior: none;
        overflow: hidden;
    }
}

*, *::before, *::after {
    box-sizing: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none; 
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

.container {
    max-width: 1090px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-size: 48px;
    letter-spacing: 2px;
    text-align: center;

    &::after  {
        content: "";
        display: block;
        width: 180px;
        height: 3px;
        margin: 0 auto;

        background-color: $main;
    }
}

.subtitle {
    font-size: 30px;
    letter-spacing: 1px;
    &::after {
        content: '';
        display: block;
        height: 3px;
        background-color: $main;

    }
}

.btn {
    padding: 7px 20px;
    color: #fff;
    cursor: pointer;
    background: transparent;
    border: 5px solid $main;
    transition: all .3s;

    &:hover {
        border: 5px dashed #fff;
    }
}

